<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publish</title>
    <style>
        a {
            margin-right: 50px;
        }
        img {
            width: 500px;
            height: 500px;
        }
        
    </style>
</head>
<body >
    <h1 style="text-align: center;">Kick Start your journey of making a PDF to a full-fledged book</h1>
    <h3 style="text-align: center;">By publishing with world-renowned publishers</h3>
    <div style="padding: 30px; background-color: rgba(0,0,0,0.5); display: flex; justify-content: center;">
        <a href="https://notionpress.com/en/for-writers-en"><img src="/static/images/images.png" alt="Notion Press"></a>
        <a href="https://kdp.amazon.com/en_US/bookshelf"><img src="/static/images/amazon-KDP.png" alt="Amazon KDP"></a>
    </div>
</body>
</html>
